{% extends "client/base.html" %}

{% load crispy_forms_tags %}


<div class="container-fluid">
{% block content %}


    <div class="row">
        {% for k,v in forms.items  %}
            {% if k != "forms" %}


                <div class="col-md-4">

                    <div class="container alert alert-secondary" >
                        <form name = "form0" action = "{% url 'hash:blockchain' %}" method = "POST" >
                            {% csrf_token %}
                            {{ v|crispy }}

                            <div class="row">
                                <div class="col-lg-8 text-center">
                                    <input type="submit" id="other" name="{{v.block_num.value}}" class="btn btn-primary btn-lg" value="{{v.block_num.value}}">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>

</div>







{% endblock content %}