{% extends "client/base.html" %}

{% load crispy_forms_tags %}

{% block content %}







<div class="container alert alert-secondary">
      <form name = "form" action = "{% url 'hash:get_block' %}" method = "POST" >
          {% csrf_token %}
            {{ form|crispy }}


        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="submit" id="get_hash" class="btn btn-primary btn-lg" value="Get Hash">
          </div>
        </div>
      </form>



    </div>


        {% if data %}

        <h1>the hash corresponding to {{data}} is {{ hash }} </h1>
        {% endif %}

{% endblock content %}