{% extends "client/base.html" %}

{% load crispy_forms_tags %}

{% block content %}







<div class="container alert alert-secondary">
      <form name = "form" action = "{% url 'hash:mine' %}" method = "POST" >
          {% csrf_token %}
            {{ form|crispy }}


        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="submit" id="get_nonce" class="btn btn-primary btn-lg" value="Mine">
          </div>
        </div>
      </form>

            {% if data %}

        <h1>the nonce that enable to get a hash with four leading zeroes is : {{nonce}} </h1>
    <p> The hash of the block is : {{h}}</p>
        {% endif %}



    </div>





{% endblock content %}